<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">

      <div class="trigger">
        {% assign sorted_pages = site.pages | sort:"order" %}
        {% for page in sorted_pages %}
          {% if page.title %}
            {% unless page.title == "404: Page not found" %}
              <a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% endunless %}
          {% endif %}
        {% endfor %}
        <a class="page-link" href="{{ site.baseurl }}/assets/docs/cv.pdf" target="_blank">CV</a>
      </div>
    </nav>

  </div>

</header>
