{{ define "main" }}
<div class="grid">
  <section id="about">
    {{ .Content }}
  </section>

  <aside id="contact">
    <h3>Contact</h3>
    <p>
      <small>
        <a href="mailto:{{ .Site.Params.Contact.email }}" target="_blank">
          <i class="fas fa-envelope"></i>&nbsp;Email
        </a><br />
        <a href="//www.linkedin.com/in/{{ .Site.Params.Contact.linkedin }}" target="_blank">
          <i class="fab fa-linkedin"></i>&nbsp;LinkedIn
        </a><br />
        <a href="//github.com/{{ .Site.Params.Contact.github }}" target="_blank">
          <i class="fab fa-github"></i>&nbsp;GitHub
        </a><br />
        <a href="//scholar.google.com/citations?user={{ .Site.Params.Contact.googleScholar }}" target="_blank">
          <i class="fab fa-google-scholar"></i>&nbsp;Google Scholar
        </a><br />
        <a href="documents/cv.pdf" target="_blank">
          <i class="fas fa-paperclip"></i>&nbsp;Download CV
        </a>
      </small>
    </p>
  </aside>
</div>
{{ end }}